PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DATABASE=house_hunt
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

CLOUDINARY_URL=https://api.cloudinary.com/v1_1/dswmhxqsb/upload
CLOUDINARY_API_KEY=252296177759795
CLOUDINARY_PRESET=house_hunt
CLOUDINARY_CLOUD_NAME=dswmhxqsb

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

SENDGRID_API_KEY=
SENDGRID_FROM=noreply@househunt.ng

TERMII_API_KEY=
TERMII_SENDER_ID=HouseHunt

MONO_SECRET_KEY=

VIDEO_NONCE_SECRET=change_me_nonce
GPS_TOLERANCE_METERS=200
